

/* Global */

body {
  min-width: 980px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
}
