/* Global */

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1, h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
 text-decoration: none;
 color: #04048d;
}

.button {
  padding: 3px 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #04048d;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  /* width: 1200px; */
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #04048d;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  text-transform: uppercase;
  background-image: url(../img/background/2.png);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.wrapper-standard {
  padding: 0 50px;
  text-align: start;
  display: grid;
}

/*** HEADER ***/

.main-navigation {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 10% auto 10%;
}

.main-header-logo {
  padding-left: 35px;
  justify-self: start;
  font-size: 18px;
  font-style: italic;
  text-transform: none;
}

.site-navigation {
  margin-left: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.column-menu {
  margin: 0 20px;
}

.user-navigation {
  padding-right: 35px;
  justify-self: end;
}

                          /*** MAIN PAGE ***/

/* Slaider */

.slider {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.slider-list .slider-item {
  display: none;
}

.slider-list .slider-current {
  display: block;
}

.slide img {
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: default;
}

.slider-controls {
  margin-top: -40px;
}

.slider-controls button {
  margin: 0 5px;
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current-control {
  background-color: #ffffff;
}

/* Catalog */

.catalog {
  display: grid;
}

.catalog-list {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.game-item {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.game-item:nth-child(6n) {
  margin-right: 0;
}

.game-item a {
  display: flex;
  flex-direction: column;
}

.game-title {
  margin-top: 5px;
  order: 1;
  font-size: 16px;
  line-height: 21px;
}

.game-image {
  border: 1px solid transparent;
  border-radius: 15px;
  object-fit: contain;
}

.game-tags {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
}

.game-autor {
  padding: 5px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  display: flex;
  align-items: center;
}

.game-autor img {
  width: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.game-autor p {
  padding-left: 5px;
}

.navigation-buttons {
  padding-bottom: 20px;
  display: flex;
}

.navigation-buttons button {
  width: 66%;
  margin-right: 10px;
}

.navigation-buttons a {
  width: 33%;
}

/* New games */

.new-games {
  padding: 10px 0;
}

.new-games h2 {
  text-align: start;
}

.button-new-games {
  margin-bottom: 10px;
  width: 100%;
}

/* Favourites games */

.favourites-games {
  padding: 10px 0;
}

.favourites-games h2 {
  text-align: start;
}

.navigation-buttons button {
  width: 66%;
  margin-right: 10px;
}

.navigation-buttons a {
  width: 33%;
}

/*** FOOTER ***/

.footer {
  margin: 20px 5px 0;
  text-align: start;
  border-top: 2px solid #04048d;
}

/* First footer */

.footer-main-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Menu navigation */

.footer-menu {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-menu-item {
  padding: 0 10px;
}

/* Payment */

.footer-payment {
  justify-self: center;
  display: grid;
  grid-template-rows: min-content auto;
}

.footer-payment h3 {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
}

.payment {
  padding: 10px 0;
  display: flex;
  
}

.payment a {
  padding: 10px 10px;
  width: 150px;
}

/* Second footer */

.footer-support-container {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #ffffd6;
  background-color: #010149;
}

/* Support */

.menu-support {
  align-self: center;
}

.menu-support-list {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.menu-support-list a {
  font-weight: 400;
  text-transform: none;
  color: #ffffd6;
}

/* Contacts */

.footer-contacts {
  justify-self: end;
  align-self: flex-end;
  display: flex;
}

.footer-contacts h3 {
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
}

.footer-contacts p {
  padding: 5px 20px;
  font-size: 18px;
  font-style: italic;
  text-transform: none;
}

                  /***  GLOBAL FOR STANDART PAGES  ***/

.wrapper-standard {
  /* outline: 1px solid red; */
}

.page-title {
  padding: 30px 0 10px;
  /* outline: 1px solid red; */
}

.wrapper-standard h2 {
  margin: 0;
  padding: 20px 0;
  /* outline: 1px solid red; */
}

                        /***  ABOUT.HTML  ***/

.project-history {
  /* outline: 1px solid red; */
}

.our-team {
  /* outline: 1px solid red; */
}

.for-partners {

  /* outline: 1px solid red; */
}

                         /*** HELP.HTML ***/




                         
                         /*** ADAPTATION ***/

/* @media (max-width: 1000px) {
  .wrapper {
    width: 600px;
  }
  
  /*** MAIN PAGE ***/
  /* Catalog */
  
  /* .game-item {
    margin-right: 25px;
  }

  .game-item:nth-child(5n) {
    margin-right: 25px;
  }
  
  .game-item:nth-child(4n) {
    margin-right: 25px;
  }

  .game-item:nth-child(3n) {
    margin-right: 0px;
  } */

  /*** FOOTER ***/
  
  /* .footer-container {
    grid-template-columns: 1fr 1fr;
  } */
  
  /* Menu navigation */
  
  /* .footer-menu,
  .footer-payment h3,
  .footer-contacts h3,
  .footer-contacts p {
    font-size: 14px;
  } */
  
  /* Payment */

  /* .payment {
    flex-direction: column;
  }
  
  .payment a {
    width: 120px;
  }
} */

/* @media (max-width: 1050px) {
  .wrapper {
    width: 820px;
  }


 
  .game-item {
    width: 150px;
  }

  .game-item:nth-child(5n) {
    margin-right: 40px;
  }

  .game-item:nth-child(4n) {
    margin-right: 0;
  }


  
  .footer-payment {
    padding-left: 20px;
  }
}
  
@media (max-width: 960px) {

} */